{% extends "base.html" %}
{% load staticfiles %}
 {% block content %} 
 {% for ngo, address in ngos.items %}
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          {{ ngo }}
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
      {{address}} is the address :) 
        
        <div>
        <button type="button" class="btn btn-warning pull-right">See Map</button>
      </div>
      </div>      
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}