{% extends "base.html" %}
    {% block content %}  
    	<!-- for map -->
    	<div style="color: grey;"> 
    	{% if location  == '' %}
        	<form action="#" method="POST">
				{% csrf_token %}
				<input type='input' placeholder="Enter Your Address..." value="" name='location'/> <input type="submit" value="Go!">
			</form>
		{% else %}
		    <div class="col-lg-6" style="vertical-align:middle; width:75%; float:none; display: inline-block;">
			{% load easy_maps_tags %}
			<!-- Default map with 600x600 dimensions -->
			{% easy_map location  600 600  using "easy_maps/map.html" %}
			</div>
		{% endif %}
		</div>
{% endblock %}
