{% extends "base.html" %}
{% load staticfiles%}    
    {% block form %}        
        <!-- For input address: -->
        <img class="img-responsive" src="{% static "assets/img/profile.png"%}" alt="">
        <div class="row">                           
            <form role="form" action="/map" method="POST">
				{% csrf_token %}
                <div class="form-group">                                     
                    <div class="col-lg-6" style="vertical-align: middle;width: 75%;float: none;display: inline-block;">
                        <div class="input-group">
                            <input type="text" name="location" class="form-control" placeholder="Enter Your Address...">
                            <span class="input-group-btn">
                                <button class="btn btn-warning" type="submit">Go!</button>
                            </span>
                        </div><!-- /input-group -->
                    </div><!-- /.col-lg-6 -->                    
                </div>                                    
            </form>                                                             
    </div><!-- /.row for address input-->
{% endblock %}    

{% block content %}          
<!-- About Section -->
    <section id="about" style="color:#18bc9c;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About NGO Locator</h2>
                    <br/><br/>                
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
					<p>We want to help you so that you can easily help the needy.
					This will give you all nearby NGOs with a map. <br/>
					To use this you just need to enter your address.
					With a single click you will get all the nearby NGOs with a map and all information about
					them.
					</p>
                </div>                
            </div>
        </div>
    </section>
{% endblock %}
